body {
    background-color:antiquewhite;
    font-family: arial, sans-serif;
    margin: 40px;
    color:gray;
}

h1 {
    background-color:midnightblue;
    color: white;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
}

table {

}

th, td {

}

th {

}

a {

}

